/* Cosas chicas */

.margin0{
    margin: 0px
}









body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    position:relative;
    background-color: green;
}

#mensajeFinal{
    position: absolute;
    width: 100%;
    font-size: 75px;
    text-align: center;
    color: #fff;

    bottom: 51%;
}

#subMensajeFinal{
    position: absolute;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #ffffff83;

    bottom: 48%;
}



/* Interfaz del Dealer */

#mazoDealer{
    height: 165px;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.13);

    position:absolute;
    top: 50px;
}

#cartasDealer{
    display:block;
    width: fit-content;
    height: 100%;
    margin: auto auto auto auto;
}

#contadorDealer{
    display: block;
    position: absolute;
    height: fit-content;
    width: 200px;
    text-align: center;
    color: #fff;

    top: 230px;
    left: 30%;
}






/* Interfaz del jugador */

#contador{
    display: block;
    position: absolute;
    height: fit-content;
    width: 100%;
    text-align: center;
    color: #fff;

    bottom: 290px;
}

#miMazo{
    height: 165px;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.13);

    position:absolute;
    bottom: 50px;
}
#misCartas{
    display:block;
    width: fit-content;
    height: 100%;
    margin: auto auto auto auto;
}

.carta{
    height: 150px;
    width: 107px;
    background-size:contain;
    background-repeat: no-repeat;
    float: inline-start;
    margin-top: 15px;
    transition-duration: 0.2s;
    border-radius: 10px;
}

.cartaDealer{
    height: 150px;
    width: 107px;
    background-size:contain;
    background-repeat: no-repeat;
    float: inline-start;
    transition-duration: 0.2s;
    border-radius: 10px;
}

.carta:hover{
    margin-top: 0px;
}

.btn{
    position: absolute;
    height: 60px;
    width: 180px;
    background-image:linear-gradient(135deg, #006eff, #004db3);
    border-radius: 10px;
    border: none;
    color: #fff;
}

#btnAgregarCarta{
    bottom: 230px;
    left: 30%
}


#btnQuedarse{
    bottom: 230px;
    right: 30%;
}

#BtnvolverJugar {
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
}